#img-bg {
    background-image: url('https://static.todamateria.com.br/upload/co/re/cores-quentes-og.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.formStyle{
    background: white;
}